@import './variables.css';

button {
  list-style: none;
  background-color: var(--bgSecundaryColor);
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
  border: 1px solid var(--lightColor);
  box-shadow: var(--shadowBox);
}
button a {
  text-decoration: none;
  font-size: var(--fontSizeS);
  font-weight: var(--fontWeightSemilight);
  letter-spacing: 2px;
  text-transform: capitalize;
  color: var(--lightColor);
}
