body {
  background-color: #fdfdfe;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.header h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #553c9a,
    #ee4b2b,
    #00c2cb,
    #ff7f50,
    #553c9a
  );
  background-size: 200%;
  background-position: -200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animated-gradient 2s infinite alternate-reverse;
  transition: all ease-in-out 2s;
  cursor: pointer;
}
.header h1:hover{
  background-position: 200%;
}
@keyframes animated-gradient {
  to{
    background-position: 200%;
  }
}