@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

.header h1 {
  font-size: 80px;
  font-weight: 800;
  color: #b393b3;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #957dad, 1px 2px 1px #957dad, 1px 3px 1px #957dad,
    1px 4px 1px #957dad, 1px 5px 1px #957dad, 1px 6px 1px #957dad,
    1px 10px 5px rgba(16, 16, 16, 0.5), 1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3), 1px 25px 50px rgba(16, 16, 16, 0.2);
}
.header-2 h1 {
  font-size: 80px;
  font-weight: 800;
  color: #e0d6e9;
  font-family: "Niconne", cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #957dad, 4px 4px 0px #ee4b2b, 6px 6px 0px #00c2cb,
    8px 8px 0px #ff7f50, 10px 10px 0px #553c9a;
}
