body {
  background-color: #fdfdfe;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.header {
  display: inline-flex;
}
.header .fixed {
  font-size: 70px;
  font-weight: 500;
  color: #b393d3;
}
.header .typed {
  margin-left: 20px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}
.header .typed li {
  color: #553c9a;
  font-size: 70px;
  font-weight: 600;
  list-style: none;
  animation: slide 4.5s steps(3) infinite;
  position: relative;
  top: 0;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.header .typed li span {
  position: relative;
}
.header .typed li span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  border-left: 2px solid #553c9a;
  background: #fdfdfe;
  animation: cursor 1s infinite step-end, typing 1.5s steps(8) infinite;
}
@keyframes cursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #553c9a;
  }
}
@keyframes typing {
  100% {
    left: 8ch;
  }
}
@keyframes slide {
  100% {
    top: -270px;
  }
}
