.header h1 {
  font-size: 80px;
  font-weight: 800;
  color: #553c9a;
  text-transform: uppercase;
  border-right: 4px solid #000;
  animation: cursor 1s infinite step-end;
}
@keyframes cursor {
  0%, 100%{
    border-color: transparent;
  }
  50%{
    border-color: #000;
  }
}
