.header h1 {
  font-size: 80px;
  font-weight: 800;
  color: #553c9a;
  text-transform: uppercase;
  animation: cursor 1s infinite step-end, typing 15s infinite steps(16);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  30% {
    width: 16ch;
  }
  80% {
    width: 16ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}
