.header h1{
    font-size: 70px;
    font-weight: 600;
    background-image:  radial-gradient( #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.headerdos h1{
    font-size: 70px;
    font-weight: 600;
    background-image:  radial-gradient(circle, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.headertres h1{
    font-size: 70px;
    font-weight: 600;
    background-image:  radial-gradient(ellipse, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}